<form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
    <div class="form-group">
        <label for="name">Name</label>
        <input
            ngControl="name"
            id="name"
            #name="ngForm"
            type="text"
            class="form-control"
            required
            minlength="3">
        <div *ngIf="name.touched && name.errors">
            <div class="alert alert-danger" *ngIf="name.errors.required">
                Name is required
            </div>
            <div class="alert alert-danger" *ngIf="name.errors.minlength">
                Name must be minimum {{ name.errors.minlenght.requiredLength }} characters
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input
            ngControl="email"
            id="email"
            #email="ngForm"
            type="text"
            class="form-control"
            required>
        <div *ngIf="email.touched && email.errors">
            <div class="alert alert-danger" *ngIf="email.errors.required">
                Email is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="freq">Frequency</label>
        <select
            ngControl="freq"
            id="freq"
            class="form-control"
            required>
            <option>Daily</option>
            <option>Weekly</option>
            <option>Monthly</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
